
<div class=" card h-100 d-flex align-items-stretch " [ngClass]="CardClasses()" style="width: 20rem;" >

  @if (course.iconUrl) {
    <img [src]="course.iconUrl" class="card-img-top" alt="...">
  } @else {
    <img src="assets/empty-image.png" class="card-img-top" alt="...">
  }

  <div class="card-body   ">

    <h5  class="card-title text-center" [style.text-decoration]="'underline'" [ngStyle]="{color: 'green'}" > {{course.description}}</h5>
    <p class="card-text text-center"> {{course.longDescription}}</p>




    <span *ngIf="course.lessonsCount ; else pas_de_lesson"  class="position-absolute lessons top-0 start-50 translate-middle badge rounded-pill  text-white">
    {{course.lessonsCount}}
    </span>

    <ng-template #pas_de_lesson>
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill lessons ">
      pas de lesson
      </span>
    </ng-template>

  </div>
  <div class="card-category badge bg-success">
    @switch (course.category){
      @case ("BEGINNER"){
        <div class="category text-center "> Beginner</div>
      }

      @case ("INTERMEDIATE"){
        <div class="category text-center "> intermediate </div>
      }
      @case ("ADVANCED"){
        <div class="category text-center "> advanced </div>
      }
      @default {
        <div class="category text-center "> unkown </div>
      }
    }
  </div>
  <div class="d-flex justify-content-center bg-warning ">
    <a (click)="editCourse(courseTitle.value)" class="btn text-white text-center">Edit Course</a>
    <input #courseTitle [value]="course.description" />
  </div>
</div>
